.wrapper {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 12px;
  justify-content: space-between;
  max-width: 1980px;
  width: 100%;
}

.item {
  max-width: 169px;
  width: 100%;
}

.imageWrapper {
  aspect-ratio: 169 / 240;
  box-shadow: 0 2px 8px 0 rgba(#333, 0.25);
  position: relative;
  width: 100%;
}
