.header {
  align-items: center;
  display: flex;
  padding: 4px 24px 4px 20px;
}

.menuButtonWrapper {
  padding: 0 20px 0 0;
}

.button {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}

.h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 3.2rem;
}
